.button {
    -fx-background-color: #7289DA;
    -fx-text-fill: white;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0, 0, 0);
}

.button:hover {
    -fx-background-color: #5b6eae;
}

.button:pressed {
    -fx-background-color: #4e5d94;
}

.title-text {
    -fx-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}